    @import url('https://fonts.googleapis.com/css?family=Poppins');
    body {
        font-family: 'Poppins';
        margin-bottom: 20px;
    }
    
    header>div {
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }
    
    nav {
        width: 600px;
    }
    
    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav a {
        color: black;
        text-decoration: none;
    }
    
    h1 {
        font-size: 4.5em;
        text-align: center;
        font-weight: bold;
    }
    
    h2 {
        font-size: 2em;
        text-align: center;
        background-color: rgba(255, 204, 53, 0.4);
    }
    
    h3 {
        color: red;
        font-size: 1em;
    }
    
    .blackHeart {
        width: 20px;
        margin-right: 1rem;
    }
    
    #search-in {
        background-color: rgba(0, 0, 0, 0.05);
        padding: 10px 38px;
        border: 1px solid rgba(0, 0, 0, 0.05);
        width: 1400px;
    }
    
    .join {
        border: 1px solid rgba(0, 0, 0, 0.05);
        padding: 10px 10px;
        font-weight: 800;
    }
    
    #search {
        align-items: center;
        justify-content: flex-end;
        padding: 15px 0px;
    }
    
    .nav-button a {
        color: black;
        text-decoration: none;
        margin: 14px 0;
        font-size: 13px;
        padding: 5px 20px;
        text-align: center;
    }
    
    .magnifying-img {
        width: 18px;
        margin-right: 10px;
        position: absolute;
        padding: 10px;
    }
    
    .npm-logo {
        width: 60px;
        margin-right: 2rem;
    }
    
    .search-button {
        background-color: #fb3e44;
        color: white;
        padding: 8px 20px;
        font-size: 16px;
        font-weight: 200;
    }
    
    .colour-background {
        display: flex;
        align-content: column;
        flex-direction: row;
        height: 600px;
        background-color: #ece1e2
    }
    
    .build {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 100px 30% 100px 30%;
        justify-content: center;
        background-color: #ece1e2;
    }
    
    .two-buttons {
        margin-top: 40px;
    }
    
    .see-plans {
        background-color: #fb3b49;
        color: white;
        box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
        padding: 12px 80px;
        margin-right: 15px;
    }
    
    .join-for-free {
        background-color: white;
        font-weight: bold;
        padding: 15px 80px;
        color: black;
        margin-left: 15px;
    }
    
    .build h1 {
        background-color: #ece1e2;
        font-size: 70px;
        font-weight: 900;
        margin: 0;
    }
    
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 600px;
    }
    
    .info img {
        width: 200px;
    }
    
    .info h2 {
        background-color: rgba(255, 204, 53, 0.4);
        font-weight: 900;
        font-size: 30px;
        margin-top: 60px;
        padding: 0 30px;
        margin-bottom: 14px;
        font-style: italic;
    }
    
    .info p {
        width: 600px;
        font-size: 16px;
        font-weight: 200;
        margin-top: 16px;
        text-align: center;
    }
    
    .create-an-org {
        box-shadow: 8px 8px 0 rgba(71, 68, 68, 0.2);
        border: 1 solid rgba(0, 0, 0, 0.05);
        font-size: 1em;
        background: black;
        color: white;
        padding: 15px 20px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 14px 0;
    }
    
    #serv {
        justify-content: center;
        width: 40%;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
    #serv p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #serv .img {
        width: 50px;
    }
    
    .general-information {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 20px;
        width: 60%;
        height: 600px;
        margin: 14px 14px;
    }
    
    #variations a {
        height: 400px;
        align-items: center;
        padding: 10px 100px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: 800;
        background-color: black;
        box-shadow: 8px 8px 0 rgba(105, 76, 46, 0.2);
        color: white;
    }
    
    .options {
        display: flex;
        flex-direction: row;
        width: 75%;
        height: 200px;
        justify-content: space-between;
        align-content: center;
    }
    
    .options h3 {
        color: #ed1c24;
        margin-top: 10px;
    }
    
    #variations {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px 100px;
        margin-top: 20px;
    }